
/* --------------------------- TELA 1 --------------------------- */
/* --------- CREATE FIRST --------- */

.quizz_box{
    position: relative;

    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first_quizz{
    position: relative;

    margin-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 340px;
    height: 181px;

    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
}

.first_quizz h1{

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 107px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
}

.first_quizz h2{

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 107px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #EC362D;
}
.first_quizz button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 136px;
    height: 40px;
    margin-bottom: 33px;
    
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
}

/* --------- YOU QUIZZES --------- */

.you_quizzes{
    display: flex;
    margin-top: 35px;
}

.you_quizzes .titulo_grupo{
    margin-right: 145px;
    width: 158px;
    height: 23px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
}

.you_quizzes img{
    width: 31px;
    height: 30px;
}


/* --------- ALL QUIZZ --------- */

.all_quizzes .titulo_grupo{
    margin-top: 38px;
    margin-right: 180px;
    width: 158px;
    height: 23px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
}

.titulo_quizz{
    position: absolute;
    width: 301px;
    height: 54px;
    bottom: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
} 

.image_quizz{
    width: 340px;
    height: 181px;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}
