/* --------------------------- TELA 2 --------------------------- */

.tela_2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela_2 .banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100vw;
    height: 142px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/media/banner1.png);
}

/* --------- FULL QUESTION --------- */
.full_question_box{

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 24px;
    margin-bottom: 12px;
    
    width: 375px;
    height: 420px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.pergunta_box{
    margin-top: 20px;
    width: 336px;
    height: 89px;
    background-color: rgb(45, 8, 177);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px;
}
.pergunta_box h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    line-break:auto;
    
    color: #FFFFFF;
}

.options_box{
    height: 180px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    
    flex-wrap: wrap;
}
.option{
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 164px;

    margin-left: 4px;
    margin-right: 4px;
}
.img_option{
    width: 163px;
    height: 113px;
        
    background: url(/media/green.jpg);
    border-radius: 0px;    
}
.name_option{
    margin-top: 8px;
    margin-bottom: 16px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

/* ------------- QUIZZ RESULT ------------- */

.result_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    padding-top: 20px;
    margin-top: 24px;

    width: 375px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);    
}
.percentage_box{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 340px;
    height: 99px;
    
    background: #EC362D;    
}
.percentage_box h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

    font-size: 19px;
    line-height: 22px;
    margin: 16px;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
}
.result_box img{
    width: 340px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.result_box h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;

    margin-bottom: 10px;
    
    color: #484848;
}

.reiniciar_quizz{
    margin-top: 34px;
    width: 220px;
    height: 44px;
    
    background: #EC362D;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.reiniciar_quizz h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFF5F4;
}

.voltar_home{
    margin-top: 8px;
    width: 220px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;
    background:none;   

    margin-bottom: 50px;
}
.voltar_home h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #818181;

}



/* ------------------ TOOLS ------------------ */

.hidden{
    display: none;
}